node_modules/
.next/
out/
*.tsbuildinfo
next-env.d.ts
.claude/

# database
prisma/dev.db
prisma/dev.db-journal

# env
.env
.env.local
.netlify

# generato dal bundling edge functions di Netlify
deno.lock
.env.production
